.rulesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  margin: 2%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2%;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  margin: 2%;
}
