.btn {
  height: 2em;
  width: 120px;
  border-radius: 5px;
  background: black;
  color: white;
  margin: 1%;
  border: none;
  font-size: 12px;
}

.btnContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gridContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rulesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  margin: 2%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2%;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  margin: 2%;
}

.gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}